
.DS_Store

*.pyc

shots/*

shots_xml/*

src/temp/*

src/parsed_tournaments.txt

src/log.log


test_sets/sample_pdfs/*

test_sets/sample_xmls/*

test_sets/sample_images/*

test_sets/small_tourney_sample_pdfs/*

test_sets/tourney_sample_pdfs/*

test_sets/alt_sample_pdfs/*


notes.txt

