
.DS_Store

*.pyc

shots/*

shots_xml/*

src/temp/*

src/parsed_tournaments.txt

src/log.log


src/sample_pdfs/*

src/sample_xmls/*

src/sample_images/*

src/small_tourney_sample_pdfs/*

src/tourney_sample_pdfs/*

src/alt_sample_pdfs/*


notes.txt

